# Pandas

0) Import libraries, check versions

In [5]:
import pandas as pd
import numpy as np

pd.__version__

'1.2.4'

00) Read csv, do primary analysis

In [50]:
df = pd.read_csv('C:\student-mat.csv', sep=';')

df.describe(include='all')

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395,395,395.000000,395,395,395,395.000000,395.000000,395,395,...,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
unique,2,2,NaN,2,2,2,NaN,NaN,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,GP,F,NaN,U,GT3,T,NaN,NaN,other,other,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,349,208,NaN,307,281,354,NaN,NaN,141,217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,16.696203,NaN,NaN,NaN,2.749367,2.521519,NaN,NaN,...,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,NaN,NaN,1.276043,NaN,NaN,NaN,1.094735,1.088201,NaN,NaN,...,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,NaN,NaN,15.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,NaN,NaN,16.000000,NaN,NaN,NaN,2.000000,2.000000,NaN,NaN,...,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,NaN,NaN,17.000000,NaN,NaN,NaN,3.000000,2.000000,NaN,NaN,...,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,NaN,NaN,18.000000,NaN,NaN,NaN,4.000000,3.000000,NaN,NaN,...,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,NaN,NaN,22.000000,NaN,NaN,NaN,4.000000,4.000000,NaN,NaN,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

1) How many variants of mother's job are in the dataset? (min 3 variants)

In [25]:
len(set(df['Mjob']))

5

In [26]:
len(['Mjob'].unique())

5

In [27]:
df['Mjob'].value_counts().size

5

In [33]:
df.describe(include='all')['Mjob']['unique']

5

2) Find how many girls have good final grade (not less than 15) and have romantic relationship (number and percentage)

In [54]:
good_final_grade_romantic_count = len(df[(df['G3'] >= 15) & (df['romantic'] == 'yes') & (df['sex'] == 'F')])

all_girls = len(df[df.sex == 'F'])

percentage = good_final_grade_romantic_count*100/all_girls

print(good_final_grade_romantic_count)
print(percentage)

9
4.326923076923077

In [58]:
good_final_grade_romantic_count = df[(df['G3'].ge(15)) & (df['romantic'].eq('yes')) & (df['sex'].eq('F'))].shape[0]

percentage = good_final_grade_romantic_count*100/all_girls

print(good_final_grade_romantic_count)
print(percentage)

9
4.326923076923077

3) Is it better for student's academic performance if his/her parents work at the same job ('other' should be excluded)?

In [85]:
parents_same_job = df[(df.Mjob != 'other') & (df.Mjob == df.Fjob)]['G1' or 'G2' or 'G3'].mean()

parents_diff_jobs = df[(df.Mjob != 'other') & (df.Mjob != df.Fjob)]['G1' or 'G2' or 'G3'].mean()

# Considering our data cleared we use mean()

print(parents_same_job)
print(parents_diff_jobs)

11.838235294117647
11.123655913978494

Average same job parents students' marks is higher, therefore it's better

4) Who is more healthy: students with final grade not less than 15 or not?

In [92]:
students_fin_grade_gr_15_health = df[df['G3'] >= 15]['health'].mean()
students_fin_grade_less_15_health = df[df['G3'] < 15]['health'].mean()

print(students_fin_grade_gr_15_health)
print(students_fin_grade_less_15_health)

3.3972602739726026
3.590062111801242

So students that owe lower marks at final grade generally have better health

5) Is there a direct link between going out with friends and final grade?

In [138]:
df.groupby(['goout']).agg({'G3': 'mean'})

              G3
goout
1       9.869565
2      11.194175
3      10.961538
4       9.651163
5       9.037736

Ones who go for a walk less often have better curriculum prodictivity

6) Is the a connection between Mother's education and desire to take higher education?

In [157]:
df.groupby(['Medu', 'higher'])['higher'].count()

Medu  higher
0     no          1
      yes         2
1     no          6
      yes        53
2     no          7
      yes        96
3     no          5
      yes        94
4     no          1
      yes       130
Name: higher, dtype: int64

Yes, these facts are linked, but not strongly - high education is popular by itself

7) Could we say that girls have more failures when they have romantic relationship than boys?

In [140]:
df.groupby(['romantic', 'sex']).agg({'failures' : lambda x : x.mean()})

NameError: name 'mean' is not defined

The fact proved here is that students in love are more likely to get a failure, but original hypothesis have failed here.

8) Find pairs of jobs with the most and the least average of absences.

In [200]:
print(df.groupby(['Mjob', 'Fjob'])['absences'].agg('mean').idxmin())

print(df.groupby(['Mjob', 'Fjob'])['absences'].agg('mean').idxmax())

('at_home', 'at_home')
('other', 'services')

9) Calulate the average final grade by romantic relationship and availability of Internet access for boys and girls. Who has the biggest rate?

In [201]:
df.groupby(['romantic', 'internet'])['G3'].mean()

romantic  internet
no        no           9.560000
          yes         11.136150
yes       no           8.937500
          yes          9.663793
Name: G3, dtype: float64

Expectedly, the biggest rate have those who have no romantic relationships but have Internet access
The same evidence about ones who in love and with no Internet - they have the lowest final grade study rate

10) Print statistics for free time after school by Mother's and Father's job . Find combination with the biggest average rate. (one of the variants that I would like to see - using describe())

In [63]:
print(df.groupby(['Mjob', 'Fjob'])['freetime'].agg('mean').sort_values(ascending=False))
df.groupby(['Mjob', 'Fjob'])['freetime'].agg('mean').sort_values(ascending=False).idxmax()

Mjob      Fjob
teacher   at_home     4.500000
health    teacher     4.000000
teacher   teacher     3.916667
services  at_home     3.833333
health    health      3.833333
teacher   other       3.714286
other     services    3.458333
at_home   at_home     3.428571
health    other       3.352941
services  services    3.325581
          other       3.261905
other     other       3.240385
at_home   other       3.060606
other     at_home     3.000000
at_home   teacher     3.000000
teacher   services    2.947368
services  teacher     2.875000
at_home   services    2.866667
services  health      2.750000
teacher   health      2.500000
other     health      2.500000
health    services    2.500000
other     teacher     2.333333
at_home   health      2.000000
Name: freetime, dtype: float64

('teacher', 'at_home')

In [84]:
print(df.groupby(['Mjob', 'Fjob']).describe()['freetime']['mean'].sort_values(ascending=False))
df.groupby(['Mjob', 'Fjob']).describe()['freetime']['mean'].idxmax()

Mjob      Fjob
teacher   at_home     4.500000
health    teacher     4.000000
teacher   teacher     3.916667
services  at_home     3.833333
health    health      3.833333
teacher   other       3.714286
other     services    3.458333
at_home   at_home     3.428571
health    other       3.352941
services  services    3.325581
          other       3.261905
other     other       3.240385
at_home   other       3.060606
other     at_home     3.000000
at_home   teacher     3.000000
teacher   services    2.947368
services  teacher     2.875000
at_home   services    2.866667
services  health      2.750000
teacher   health      2.500000
other     health      2.500000
health    services    2.500000
other     teacher     2.333333
at_home   health      2.000000
Name: mean, dtype: float64

('teacher', 'at_home')

11) Calculate average rate of educatuin for each job for Father for different family sizes.

In [90]:
df.groupby(['Fjob', 'famsize']).describe()['Fedu']['mean']

Fjob      famsize
at_home   GT3        2.583333
          LE3        2.000000
health    GT3        3.416667
          LE3        3.166667
other     GT3        2.261438
          LE3        2.296875
services  GT3        2.625000
          LE3        2.387097
teacher   GT3        3.833333
          LE3        4.000000
Name: mean, dtype: float64

12) Calculate average final grade by quality of family relationship and parent's cohabitation status. Which case has the biggest average grade?

In [117]:
print(df.groupby(['famrel', 'Pstatus']).describe()['G3']['mean'].sort_values(ascending=True))
df.groupby(['famrel', 'Pstatus']).describe()['G3']['mean'].idxmax()

famrel  Pstatus
2       T           9.666667
3       A           9.666667
        T          10.080645
1       T          10.333333
4       T          10.342697
        A          10.529412
5       T          10.559140
2       A          11.000000
1       A          11.500000
5       A          12.769231
Name: mean, dtype: float64

(5, 'A')

Statistics say that biggest average grade mark have students with good relationships with their family, though their parents live apart

13) What is the smallest age in a dataset? How many students of this age? What is the percentage of students with final grade not less than 15? What is the percentage of boys and girls from this slice?

In [127]:
# What is the smallest age in dataset?

min_age = df['age'].min()

82

In [128]:
# How many students of that age?

df[df['age'] == min_age].shape[0]

82

In [141]:
# What is the percentage of students with final grade not less than 15?

fin_grade_not_less_15 = df[df['G3'] >= 15]
fin_grade_not_less_15.shape[0] * 100 / df.shape[0]

18.481012658227847

In [143]:
# What is the percentage of boys and girls from this slice?

fin_grade_not_less_15['sex'].value_counts(normalize=True)

M    0.561644
F    0.438356
Name: sex, dtype: float64

#### Please, write not only numbers but answers also if it's needed :)