In [26]:
import numpy as np
import pandas as pd

pd.__version__

df1 = pd.read_csv('train.csv', ';')
df2 = pd.read_csv('test.csv', ';')
df = pd.concat([df1, df2])
# Lets check average internet traffic spent by internet usage region stats

# vis

print(df.groupby(['USAGE_AREA'])['GPRS_NOV_16'].describe()['mean'].add(
        df.groupby(['USAGE_AREA'])['GPRS_OCT_16'].describe()['mean']
    )
)
print(df.groupby(['USAGE_AREA'])['GPRS_NOV_16'].describe()['mean'].add(
        df.groupby(['USAGE_AREA'])['GPRS_OCT_16'].describe()['mean']
    )[1:-1].mean()
)

df.shape[1]
# An obvious conclusion: people in Minsk and regional cities use
# more mobile internet in average than anyone else in spite of 
# the fact that the more city develops, the more internet
# technologies are being integrated in everyone's life.

USAGE_AREA
Countryside        2941.875794
Local Towns        3294.882621
Minsk              3815.740551
Mix                2717.282456
Regional Cities    4135.622432
Undefined            74.460462
Name: mean, dtype: float64
3490.882014894025

26

In [15]:
# Check tariff planes changes by regions

df.groupby(['USAGE_AREA'])['TP_CHANGES_NUM'].value_counts()#['Minsk']

USAGE_AREA   TP_CHANGES_NUM
Countryside  0.0               3203
             1.0                449
             2.0                 91
             3.0                 21
             4.0                  4
                               ...
Undefined    1.0                124
             2.0                 23
             3.0                  5
             5.0                  1
             8.0                  1
Name: TP_CHANGES_NUM, Length: 74, dtype: int64

In [16]:
df.groupby(['USAGE_AREA'])['OFFER_GROUP'].value_counts().sort_values(ascending=False)

USAGE_AREA       OFFER_GROUP
Local Towns      Standard       5572
Minsk            Standard       4603
Mix              Standard       4473
Regional Cities  Standard       3289
Minsk            Promo          2883
Local Towns      Promo          2667
Mix              Promo          2381
Countryside      Standard       2255
Regional Cities  Promo          1718
Undefined        Standard       1216
Countryside      Promo           985
Undefined        Promo           254
Name: OFFER_GROUP, dtype: int64

In [17]:
df.groupby(['GENDER'])['OUTGOING_NOV_16'].value_counts(normalize=True)['M'].sort_values(ascending=False)

OUTGOING_NOV_16
0.000000        0.402032
0.166667        0.000826
1.000000        0.000785
0.033333        0.000744
0.016667        0.000702
                  ...
135.600000      0.000041
135.550000      0.000041
135.466667      0.000041
135.433333      0.000041
45962.000000    0.000041
Name: OUTGOING_NOV_16, Length: 9910, dtype: float64

In [18]:
df.groupby(['GENDER']).agg('OUTGOING_NOV_16').mean()

GENDER
F    1620.640954
M    1702.449043
Name: OUTGOING_NOV_16, dtype: float64

In [82]:
# Despite the common joke that women are chatterboxes, men talk more often mothly in general
# vis

df.groupby(['GENDER']).agg('OUTGOING_NOV_16').mean().add(df.groupby(['GENDER']).agg('OUTGOING_OCT_16').mean())

GENDER
F    3096.873092
M    3262.877724
dtype: float64

In [34]:
# Some data about sim-cards usage

# vis

df.groupby(['DEVICE_TYPE_BUS'])['GENDER'].agg('count').sort_values(ascending=False)

DEVICE_TYPE_BUS
Smartphone      23915
Undefined       11348
Handset          8411
Modem/Router     2506
Tablet           1508
Other             453
Name: GENDER, dtype: int64

In [21]:
# vis

df[df['DEVICE_TYPE_BUS'] == 'Modem/Router']['TP_CURRENT'].value_counts()

TP_3GM      2153
TP_CRTBL     239
TP_DL012      47
TP_FREE       22
TP_XS         17
TP_XL         15
TP_MNEW        5
TP_SNEW        5
TP_INTER       5
TP_ANDR        5
TP_L           4
TP_STP         3
TP_LNEW        3
TP_M           3
TP_XXL         2
TP_OPENL       2
TP_SUPN        1
TP_TLKTV       1
TP_STATE       1
TP_DINAM       1
Name: TP_CURRENT, dtype: int64

In [22]:
df[df['DEVICE_TYPE_BUS'] == 'Modem/Router']['OBLIG_NUM'].value_counts()

1.0    1245
Name: OBLIG_NUM, dtype: int64

In [23]:
df.groupby(['DEVICE_TYPE_BUS'])['USAGE_AREA'].value_counts().sort_values(ascending=False)

DEVICE_TYPE_BUS  USAGE_AREA
Smartphone       Minsk              6100
                 Local Towns        6038
                 Mix                5560
                 Regional Cities    3501
Handset          Local Towns        2179
Smartphone       Countryside        1854
Handset          Mix                1711
                 Minsk              1495
                 Countryside        1191
                 Regional Cities    1161
Undefined        Undefined           970
Modem/Router     Local Towns         698
                 Regional Cities     601
                 Minsk               583
Undefined        Minsk               517
                 Local Towns         492
Smartphone       Undefined           436
Handset          Undefined           415
Undefined        Mix                 379
Tablet           Minsk               371
                 Local Towns         357
Undefined        Regional Cities     341
Modem/Router     Countryside         296
Tablet           Regional Cities     278
                 Mix                 259
Undefined        Countryside         224
Modem/Router     Mix                 222
Tablet           Countryside         145
Other            Mix                 111
                 Local Towns          93
                 Minsk                88
                 Countryside          66
                 Regional Cities      56
Tablet           Undefined            30
Modem/Router     Undefined            22
Other            Undefined            19
Name: USAGE_AREA, dtype: int64

In [24]:
print(df[df['OBLIG_NUM'] > 1]['ASSET_TYPE_LAST'].value_counts())
df[df['OBLIG_NUM'] > 1]['OBLIG_NUM'].mean()

Smartphone    131
Tablet          2
Name: ASSET_TYPE_LAST, dtype: int64

2.007518796992481

In [48]:
df[df['USAGE_AREA'] == 'Countryside']['OFFER_GROUP'].value_counts()
df.groupby(['USAGE_AREA'])['OFFER_GROUP'].value_counts(normalize=True)

USAGE_AREA       OFFER_GROUP
Countryside      Standard       0.695988
                 Promo          0.304012
Local Towns      Standard       0.676296
                 Promo          0.323704
Minsk            Standard       0.614881
                 Promo          0.385119
Mix              Standard       0.652612
                 Promo          0.347388
Regional Cities  Standard       0.656880
                 Promo          0.343120
Undefined        Standard       0.827211
                 Promo          0.172789
Name: OFFER_GROUP, dtype: float64

In [68]:
# vis

df[df['PORTED_IN'] == True]['OFFER_GROUP'].value_counts()

Promo       1608
Standard     634
Name: OFFER_GROUP, dtype: int64

In [69]:
df['OFFER_GROUP'].value_counts()

Standard    26956
Promo       13089
Name: OFFER_GROUP, dtype: int64

2888